{% extends 'productos/base.html' %}

{% load static %}

{% block title %} Editar Usuario {% endblock title %}

{% block main %}

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <table>
            {{ mi_form.as_table }}
        </table>
        <input type="submit" value="Actualizar">

    </form>
    <a class="btn btn-primary btn-small" href="{% url 'CambiarPass' %}">Cambiar Password <style>
        .btn-small {
            font-size: 10px; /* Tamaño de fuente reducido */
            padding: 5px 10px; /* Relleno más pequeño */
        }
    </style></a>
    

{% endblock main %}